<div class="header">
  <div class="app-name">
    <div class="logo"></div>
    Astro
  </div>
</div>
<div class="p-grid container">
  <div class="p-col-12">
    <astro-home></astro-home>
  </div>
  <div class="p-col-12">
    <p-accordion>
      <p-accordionTab header="Tarabala">
        <astro-tarabala></astro-tarabala>
      </p-accordionTab>
      <p-accordionTab header="Chandrabala">
        <astro-chandrabala></astro-chandrabala>
      </p-accordionTab>
      <p-accordionTab header="Gurubala">
        <astro-gurubala></astro-gurubala>
      </p-accordionTab>
      <p-accordionTab header="Panchaka">
        <astro-panchaka></astro-panchaka>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
