/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: goldman, sans-serif;
}

@font-face {
  font-family: goldman, sans-serif;
  src: url("assets/Goldman-Regular.ttf") format("truetype");
}

label {
  font-weight: bold;
  font-size: 18px;
}

.danger {
  color: red;
}

.safe {
  color: lawngreen;
}

.info-color {
  color: rgba(26, 115, 238, 1);
}

.magenta {
  color: magenta;
}
